.leftNav-container{
    display: flex;
}
.search-container{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.search-bar{
    height: 40px;
    width: 380px;
}
 
.search-btn{
    height: 45px;
    width: 100px;
    background-color: #7fad39;
    border: none;
}
.btn-departments{
    width: 320px;
    height: 48px;
    color: white;
    background-color: #7fad39;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}