.top-container {
  display: flex;
  background-color: #f5f5f5;
}
.display-mail{
  margin-left: 142px;
}

.facebook-top, .twitter-top, .indin-top  {
  width: 25px;
  height: 30px;
  margin-top: 10px;
}
  .top-line{
    border-left: 1px solid gray;
    height: 35px;
    position: absolute;
    left: 275px;
    margin-top: 15px;
    margin-left: 2px;
  }
 .icon-container {
   margin-left: 80px;
   display: flex;
 }
 .icon-container > *{
   margin-left: 10px;
 }
 
.login-top{
  height: 30px;
  margin-top: 10px;
}
.login-container{
  margin-left: 440px;
  display: flex;

}
.free-shipping{
  margin-left: auto;
}